<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @data_point.timestamp %>
</p>

<p>
  <strong>Synchronized:</strong>
  <%= @data_point.synchronized %>
</p>

<%= link_to 'Edit', edit_data_point_path(@data_point) %> |
<%= link_to 'Back', data_points_path %>
