<%= form_for(@system_datum) do |f| %>
  <% if @system_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_datum.errors.count, "error") %> prohibited this system_datum from being saved:</h2>

      <ul>
      <% @system_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :soc_temperature %><br>
    <%= f.text_field :soc_temperature %>
  </div>
  <div class="field">
    <%= f.label :data_point_id %><br>
    <%= f.text_field :data_point_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
