<p id="notice"><%= notice %></p>

<h1>Listing System Data</h1>

<table>
  <thead>
    <tr>
      <th>Soc temperature</th>
      <th>Data point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_data.each do |system_datum| %>
      <tr>
        <td><%= system_datum.soc_temperature %></td>
        <td><%= system_datum.data_point %></td>
        <td><%= link_to 'Show', system_datum %></td>
        <td><%= link_to 'Edit', edit_system_datum_path(system_datum) %></td>
        <td><%= link_to 'Destroy', system_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System datum', new_system_datum_path %>
